#nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    background-color: rgb(89, 231, 236);
}

#nav li{
    margin: 5px;
    padding: 10px 15px;

}

#nav li:hover{
    background-color: rgb(136, 240, 104);
}

#nav a{
    text-decoration: none;
}

/* modelo de caja */
.padre{
    background-color: rgb(231, 191, 100);
    padding: 20px;
}

.hijo{
    background-color: darkseagreen;
    padding: 100px;
    border: 10px solid green;
    margin: 30px;
}

/* componente */
#contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(213, 219, 193);
    gap:1rem ;
}

.card{
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px black;
}
.card img{
    width: 100%;
    border-radius: 100px;
}
.card p{
    color: beige;
    background-color: black;
}

/*carrito*/
#carritoLista{
    list-style: none;
    padding: 10px;
    margin: 10px;
    border: 5px solid rgb(177, 222, 145);
    background-color: rgb(202, 231, 201);
}

/*Concurrencia*/
pre{
    text-align: left;
    background-color: black;
    padding: 1rem;
    border-radius: 10px;
    width: 80%;
    color: aquamarine;
}

/*try catch*/
#bodyTry{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mensaje{
    font-weight: bold;
    color: red;
}